<div class="container projects-container">
	<h3>{{ site.projects_title | default: "Projects" }}</h3>
  	{% for project in site.data.projects %}
		{% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
		<div class="media-container">
			{% if (project.photos) %}
			<h1>Photo Gallery</h1>
			{% endif %}
			<div class="photo-grid">
				{% for photo in project.photos %}
					<div class="{{ photo.photo_type }}" style="background-image: url('{{ photo.photo }}')"></div>
				{% endfor %}

			</div>
			{% if (project.videos) %}
			<h1>Video Gallery</h1>
			{% endif %}
			{% for video in project.videos %}
				<div class="video-responsive">
					<iframe width="560" height="315" src="{{ video.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div> 
				<p>{{ video.video_title }}</p>
			{% endfor %}
		</div>
	{% endfor %}
</div>