<div class="container projects-container">
	<h3>{{ site.projects_title | default: "Projects" }}</h3>
  	{% for project in site.data.projects %}
		{% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
		<div class="media-container">
			{% if (project.photos) %}
			<h1>Photo Gallery</h1>
			{% endif %}
			<div class="photo-grid">
				{% for photo in project.photos %}
				<a href="{{photo.photo}}" class="{{ photo.photo_type }}" >					
					<div class="{{ photo.photo_type }}" style="background-image: url('{{ photo.photo }}')" href="google.com"></div>
				</a>
				{% endfor %}

			</div>
			{% if (project.videos) %}
			<h1>Video Gallery</h1>
			{% endif %}
			{% for video in project.videos %}
				<div class="youtube-player" data-id="{{video.id}}"></div>
				<p>{{ video.title }}</p>
			{% endfor %}
		</div>
	{% endfor %}
</div>