/* Individual button styles */
/* Sacnite */

.button--sacnite::before {
  box-shadow: inset 0 0 0 35px #232b2f;
  transition: box-shadow 0.3s, transform 0.3s;
}

.button--sacnite:hover::before {
  box-shadow: inset 0 0 0 2px #232b2f;
}
